Package: com.creaturesurvive.libcscolorpicker
Name: libCSColorPicker
Depends: mobilesubstrate
Version: 0.7.3
Architecture: iphoneos-arm
Depiction: https://creaturesurvive.github.io/repo/cydia/libcscolorpicker/depiction/
Description: A minimal color picker library for developers
Maintainer: CreatureSurvive <support@creaturecoding.com>
Author: CreatureSurvive <support@creaturecoding.com>
Section: System
