Package: com.creaturesurvive.libcscolorpicker
Name: libCSColorPicker
Pre-Depends: firmware (>= 7.0)
Version: 1.0.5
Architecture: iphoneos-arm
Description: A minimal color picker library for developers
Maintainer: CreatureSurvive <support@creaturecoding.com>
Author: CreatureSurvive <support@creaturecoding.com>
Section: System
Homepage: https://creaturecoding.com/
Depiction: https://creaturecoding.com/?page=depiction&id=libcscolorpicker
SileoDepiction: https://creaturecoding.com/sileo/depiction/?package_id=libcscolorpicker
Tag: purpose::extension, compatible_min::iosiOS7

